<a href="https://colab.research.google.com/github/TimeKP/AI-study-contents/blob/main/coef_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
coef_10_test = pd.read_csv('/content/drive/MyDrive/AI_bootcamp/Section2-Machine Learning/Project/coef_result/result_10nm_with_SE_r2')
coef_10_test.drop('Unnamed: 0', axis = 1, inplace = True)

In [38]:

coef_10_test.head()

,Vg,Temp,MAX_low,SE_low,SE_slope_low,SE_inter_low,MAX_high,SE_high,SE_slope_high,SE_inter_high
0,-50,75,DT,0.271214,0.051720,-28.836593,NaN,NaN,NaN,NaN
1,-50,90,DT,0.848979,0.130736,-29.563682,SE,0.964247,0.096031,-28.889187
2,-50,105,DT,0.972200,0.141556,-28.233748,SE,0.986556,0.082244,-27.013109
3,-50,120,DT,0.934974,0.141744,-26.848324,DT,0.996287,0.067274,-25.387648
4,-50,135,DT,0.927121,0.142364,-25.659934,DT,0.995701,0.056414,-23.967616

In [49]:
#coef_10_test.fillna(0, inplace = True)

#if coef_10_test['SE_high'] > 0.99 :
#  coef_10_test['MAX_high'] = 'SE'

#df.apply(lambda x:np.square(x) if (x.name+1)%2==0 else x,axis=1)
#df.apply(lambda x:np.square(x) if x.name in ['A','B'] else x)
#df.apply(lambda x:(np.square(x['A']),np.log(x['B']),x['C']) if x['B']>0 else x, axis=1)

test = coef_10_test[['MAX_high', 'SE_high']].copy()

test = test.apply(lambda x: 'SE' if x['SE_high'] > 0.99 else x, axis = 1)
test

coef_10_test['MAX_high'] = test['MAX_high']
coef_10_test

test = coef_10_test[['MAX_low', 'SE_low']].copy()

test = test.apply(lambda x: 'SE' if x['SE_low'] > 0.99 else x, axis = 1)
test

coef_10_test['MAX_low'] = test['MAX_low']
coef_10_test

coef_10_test.to_csv('result_10nm_with_SE_r2_changed')

In [2]:
import pandas as pd

coef_5 = pd.read_csv('/content/drive/MyDrive/AI_bootcamp/Section2-Machine Learning/Project/coef_result/result_5nm')
#coef_10 = pd.read_csv('/content/drive/MyDrive/AI_bootcamp/Section2-Machine Learning/Project/coef_result/result_10nm')
coef_20 = pd.read_csv('/content/drive/MyDrive/AI_bootcamp/Section2-Machine Learning/Project/coef_result/result_20nm')

In [7]:
coef_5.drop('Unnamed: 0', axis = 1, inplace = True)
coef_5

,Vg,Temp,MAX_low,SE_slope_low,SE_inter_low,MAX_high,SE_slope_high,SE_inter_high
0,-50,90,NaN,NaN,NaN,NaN,NaN,NaN
1,-50,105,NaN,NaN,NaN,NaN,NaN,NaN
2,-50,120,NaN,NaN,NaN,NaN,NaN,NaN
3,-50,135,NaN,NaN,NaN,SE,0.152352,-32.338681
4,-50,150,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
460,-20,240,NaN,NaN,NaN,SE,0.124033,-31.253970
461,-20,255,NaN,NaN,NaN,SE,0.123530,-30.674363
462,-20,270,NaN,NaN,NaN,SE,0.117200,-30.015694
463,-20,285,SE,0.179656,-30.647413,SE,0.113128,-29.332123
464,-20,300,DT,0.153375,-29.604490,SE,0.099576,-28.479682

In [75]:
coef_5[['slope', 'inter', 'Vds']] = 0

coef_5.loc[coef_5.MAX_high == 'SE', 'slope'] = coef_5.loc[coef_5.MAX_high == 'SE', 'SE_slope_high']
coef_5.loc[coef_5.MAX_high == 'SE', 'inter'] = coef_5.loc[coef_5.MAX_high == 'SE', 'SE_inter_high']
coef_5.loc[coef_5.MAX_high == 'SE', 'Vds'] = 'high'

coef_5.loc[coef_5.MAX_low == 'SE', ['slope', 'Vds']] = coef_5.loc[coef_5.MAX_low == 'SE', 'SE_slope_low'], 'low'
coef_5.loc[coef_5.MAX_low == 'SE', 'inter'] = coef_5.loc[coef_5.MAX_low == 'SE', 'SE_inter_low']

coef_5.head()

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3162: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return asarray(a).ndim

,Vg,Temp,MAX_low,SE_slope_low,SE_inter_low,MAX_high,SE_slope_high,SE_inter_high,slope,inter,Vds
0,-50,90,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0
1,-50,105,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0
2,-50,120,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0
3,-50,135,NaN,NaN,NaN,SE,0.152352,-32.338681,0.152352,-32.338681,high
4,-50,150,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0

In [67]:
coef_10_test.head()
coef_10 = coef_10_test[['Vg',	'Temp',	'MAX_low', 'SE_slope_low',	'SE_inter_low',	'MAX_high', 'SE_slope_high',	'SE_inter_high']]

coef_10[['slope', 'inter', 'Vds']] = 0

coef_10.loc[coef_10.MAX_high == 'SE', 'slope'] = coef_10.loc[coef_10.MAX_high == 'SE', 'SE_slope_high']
coef_10.loc[coef_10.MAX_high == 'SE', 'inter'] = coef_10.loc[coef_10.MAX_high == 'SE', 'SE_inter_high']
coef_10.loc[coef_10.MAX_high == 'SE', 'Vds'] = 'high'

coef_10.loc[coef_10.MAX_low == 'SE', ['slope', 'Vds']] = coef_10.loc[coef_10.MAX_low == 'SE', 'SE_slope_low'], 'low'
coef_10.loc[coef_10.MAX_low == 'SE', 'inter'] = coef_10.loc[coef_10.MAX_low == 'SE', 'SE_inter_low']

coef_10.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3645: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = value
/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3162: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return asarray(a).ndim

,Vg,Temp,MAX_low,SE_slope_low,SE_inter_low,MAX_high,SE_slope_high,SE_inter_high,slope,inter,Vds
0,-50,75,DT,0.051720,-28.836593,NaN,NaN,NaN,0.000000,0.000000,0
1,-50,90,DT,0.130736,-29.563682,SE,0.096031,-28.889187,0.096031,-28.889187,high
2,-50,105,DT,0.141556,-28.233748,SE,0.082244,-27.013109,0.082244,-27.013109,high
3,-50,120,DT,0.141744,-26.848324,SE,0.067274,-25.387648,0.067274,-25.387648,high
4,-50,135,DT,0.142364,-25.659934,SE,0.056414,-23.967616,0.056414,-23.967616,high

In [72]:
#coef_20.drop('Unnamed: 0', axis = 1, inplace = True)

coef_20[['slope', 'inter', 'Vds']] = 0

coef_20.loc[coef_20.MAX_high == 'SE', 'slope'] = coef_20.loc[coef_20.MAX_high == 'SE', 'SE_slope_high']
coef_20.loc[coef_20.MAX_high == 'SE', 'inter'] = coef_20.loc[coef_20.MAX_high == 'SE', 'SE_inter_high']
coef_20.loc[coef_20.MAX_high == 'SE', 'Vds'] = 'high'

coef_20.loc[coef_20.MAX_low == 'SE', ['slope', 'Vds']] = coef_20.loc[coef_20.MAX_low == 'SE', 'SE_slope_low'], 'low'
coef_20.loc[coef_20.MAX_low == 'SE', 'inter'] = coef_20.loc[coef_20.MAX_low == 'SE', 'SE_inter_low']

coef_20.head()

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3162: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return asarray(a).ndim

,Vg,Temp,MAX_low,SE_slope_low,SE_inter_low,MAX_high,SE_slope_high,SE_inter_high,slope,inter,Vds
0,-50,90,NaN,NaN,NaN,SE,0.188196,-29.844005,0.188196,-29.844005,high
1,-50,105,SE,0.387299,-32.816569,SE,0.146999,-27.595105,0.387299,-32.816569,low
2,-50,120,SE,0.359692,-31.010514,SE,0.120857,-25.962057,0.359692,-31.010514,low
3,-50,135,SE,0.304638,-28.975344,SE,0.101105,-24.669944,0.304638,-28.975344,low
4,-50,150,SE,0.284700,-27.810469,DT,0.085663,-23.643742,0.284700,-27.810469,low

In [76]:
coef_final = pd.concat([coef_5[['Vg', 'Temp', 'slope', 'inter', 'Vds']],
                        coef_10[['slope', 'inter', 'Vds']],
                        coef_20[['slope', 'inter', 'Vds']]], axis = 1)
coef_final.columns = ['Vg', 'Temp',
                      'Slope_5nm', 'Inter_5nm', 'Vds_5nm',
                      'Slope_10nm', 'Inter_10nm', 'Vds_10nm',
                      'Slope_20nm', 'Inter_20nm', 'Vds_20nm']

coef_final

,Vg,Temp,Slope_5nm,Inter_5nm,Vds_5nm,Slope_10nm,Inter_10nm,Vds_10nm,Slope_20nm,Inter_20nm,Vds_20nm
0,-50,90,0.000000,0.000000,0,0.000000,0.000000,0,0.188196,-29.844005,high
1,-50,105,0.000000,0.000000,0,0.096031,-28.889187,high,0.387299,-32.816569,low
2,-50,120,0.000000,0.000000,0,0.082244,-27.013109,high,0.359692,-31.010514,low
3,-50,135,0.152352,-32.338681,high,0.067274,-25.387648,high,0.304638,-28.975344,low
4,-50,150,0.000000,0.000000,0,0.056414,-23.967616,high,0.284700,-27.810469,low
...,...,...,...,...,...,...,...,...,...,...,...
460,-20,240,0.124033,-31.253970,high,NaN,NaN,NaN,0.000000,0.000000,0
461,-20,255,0.123530,-30.674363,high,NaN,NaN,NaN,0.000000,0.000000,0
462,-20,270,0.117200,-30.015694,high,NaN,NaN,NaN,0.000000,0.000000,0
463,-20,285,0.179656,-30.647413,low,NaN,NaN,NaN,0.000000,0.000000,0
464,-20,300,0.099576,-28.479682,high,NaN,NaN,NaN,0.000000,0.000000,0

In [77]:
coef_final.to_csv('coef_final')